body{
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

.content {
    margin: 0 auto;
    margin-top: 20px;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgb(161, 161, 161);
    background-color:white;
}

th,td{
    width: 500px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
    padding:10px;
}
